<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <title>Lista Tecnicos</title>
    </head>
    <body>
        <main>
            <div class="container px-4 py-5">
                <h1 class="pb-2 border-bottom">Lista Tecnicos</h1>
                <div class="d-flex mt-3 mb-4">
                    <a class="btn btn-primary" th:href="@{'/'}">Nuevo Producto</a>
                    <a class="btn btn-secondary ms-auto" th:href="@{'/'}">Regresar</a>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Last Name</th>
                            <th>DNI</th>
                            <th>Número</th>
                            <th>Edad</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr th:each="tecnico, info : ${listaTecnicos}">
                            <td th:text="${info.index + 1}"></td>
                            <td th:text="${tecnico.getFirstName()}"></td>
                            <td th:text="${tecnico.getLastname()}"></td>
                            <td th:text="${tecnico.getDni()}"></td>
                            <td th:text="${tecnico.getPhone()}"></td>
                            <td th:text="${tecnico.getAge()}"></td>
                            <td><a class="btn btn-primary"
                                   th:href="@{'/product/edit?id=' + ${tecnico.getTechnicianId()}}">Editar</a>
                            </td>
                            <td><a class="btn btn-danger"
                                   th:href="@{'/product/delete?id=' + ${tecnico.getTechnicianId()}}">Borrar</a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </main>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
